<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>companyName</param-name>
    <param-value>Capgemini</param-value>
  </context-param>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.capgemini.controller.LoginServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>rus@capgem.com</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>saveServlet</display-name>
    <servlet-name>saveServlet</servlet-name>
    <servlet-class>com.capgemini.controller.saveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>listServlet</display-name>
    <servlet-name>listServlet</servlet-name>
    <servlet-class>com.capgemini.controller.listServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.capgemini.controller.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>saveServlet</servlet-name>
    <url-pattern>/saveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listServlet</servlet-name>
    <url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.capgemini.controller.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatingServerServlet</display-name>
    <servlet-name>updatingServerServlet</servlet-name>
    <servlet-class>com.capgemini.controller.updatingServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatingServerServlet</servlet-name>
    <url-pattern>/updatingServerServlet</url-pattern>
  </servlet-mapping>
</web-app>